.services_container {
    text-align: center;
    margin-top: 175px;
}

.service_content2 > div > figure > img {
    height: 40px;
}

.service_content > div > h3 {
    margin-bottom: 10px;
}

.service_content2 > div > h5 {
    text-align: left;
}

.service_content2 > div > p:nth-child(6),
.service_content2 > div > p:nth-child(9),
.service_content2 > div > p:nth-child(12),
.service_content2 > div > p:nth-child(15),
.service_content2 > div > p:nth-child(18),
.service_content2 > div > p:nth-child(21) {
    text-align: left;
}

.service_content2 > div > p:nth-child(4){
    margin-bottom: 100px
}

@media(max-width: 500px){
    .services_container{
        margin-top: 200px;
    }
}