.viewport {
    z-index: 10;
    width: 50%;
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0% 25% 0% 25%;
}

.popupContainer {
    /* background-color: #153131; */
    background-color: #fff;
    /* width: 50%; */
    /* position: fixed; */
    /* max-width: 960px; */
    display: block;
    margin-top:  200px;
    /* left: 25%; */
    -webkit-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    -moz-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
}

.popupContent {
    padding: 0px;
    color: #153131;
}

.popupGraphic {
    width: 125px;
    padding: 0px;
}

.popupContent > p {
    font-size: 16px;
    color: #153131;
}

.popupContent > h4 {
    font-weight: 400;
    color: #153131;
}

.bottomSection{
    position: relative;
    padding: 20px 0px 10px 0px;
    background-color: #153131;
}

.bottomSection > button {
    background-color: #45CB85;
    border: 0px solid #45CB85;
    color: #153131 !important;
    /* -webkit-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    -moz-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5); */
}

.getInTouch:hover {
    background-color: #06BF85 !important;
    -webkit-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    -moz-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
}

.closeContainer {
    width: 100%;
    text-align: right;
    height: 16px !important;
    padding-bottom: 20px;
}

.close {
    color: #153131;
    height: 16px;
    border: none;
    padding: 0px;
    font-size: 24px;
    margin: 0px 15px 0px 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(max-width: 720px){
    .viewport {
        padding: 0% 1% 0% 1%;
        width: 100%;
    }
    .popupContainer{
        margin-top:  100px;
        width: 98%;
        left: 1%;
    }

    .popupTitle {
        padding: 10px;
    }

    .popupContent {
        padding: 10px;
    }
    
    .popupGraphic {
        display: none;
    }
}