.popupContainer {
    /* background-color: #153131; */
    background-color: #fff;
    z-index: 10;
    width: 50%;
    position: fixed;
    top:  200px;
    left: 25%;
    -webkit-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    -moz-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
}

.popupContent {
    padding: 20px;
    color: #153131;
}

.popupGraphic {
    width: 125px;
    padding: 50px;
}

.popupContent > p {
    font-size: 16px;
    color: #153131;
}

.popupContent > h4 {
    font-weight: 400;
    color: #153131;
}

.bottomSection{
    position: relative;
    padding: 20px 0px 10px 0px;
    background-color: #153131;
}

.bottomSection > button {
    background-color: #45CB85;
    border: 0px solid #45CB85;
    color: #153131 !important;
    /* -webkit-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    -moz-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5); */
}

.getInTouch:hover {
    background-color: #06BF85 !important;
    -webkit-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    -moz-box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
    box-shadow: 0 9px 15px rgba(57, 63, 72, 0.5);
}

.closeContainer {
    width: 100%;
    text-align: right;
    height: 16px !important;
    padding-bottom: 20px;
}

.close {
    color: #153131;
    height: 16px;
    border: none;
    padding: 0px;
    font-size: 24px;
    margin: 0px 15px 0px 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(max-width: 720px){
    .popupContainer{
        width: 98%;
        left: 1%;
    }
    
    .popupGraphic {
        display: none;
    }
}