.homeContainer {
    margin-top: 105px;
}

.full_width {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    background-size: cover;
    padding-top: 175px;
    background-position: center;
}

.overImage {
    color: #fff;
    margin-top: 60px;
}

.mainTitle {
    font-size: 3.8rem;
    text-shadow: 1px 1px #383F3D;
}

.mainSubtitle {
    font-size: 2.7rem;
    text-shadow: 1px 1px #383F3D;
}

.homebody {
    margin-top: 25px;
    text-align-last: center;
}

.homebody > div > figure > img {
    height: 100px;
}

.homebody > div > p:nth-child(4) {
    margin-bottom: 100px;
}

.callToAction {
    background-color: #383F3D;
    padding-top: 120px;
    padding-bottom: 60px;
    -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%);
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%);
}

.trifold {
    background-color: rgba(106, 117, 114, 0.5);
    border-radius: 5px;
    height: 400px;
    padding: 60px 15px 30px 15px;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.home-contact-button {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

@media(max-width: 500px){
    .homeContainer {
        margin-top: 210px;
    }
}