.App-header {
    /* start shadow */
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    /* end shadow */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    transition: height 0.7s;
}

.menuMain {
    transition: margin 0.7s;
}

a {
    text-decoration: none;
}

.menuText {
    font-weight: bold;
}

.logo-large {
    margin-top: 18px;
    height: 40px;
    transition: height 0.7s, margin 0.7s;
}

.logo-small {
    margin-top: 7.5px;
    height: 30px;
    transition: height 0.7s, margin 0.7s;
}

@media(max-width: 500px){
    .App-header{
        text-align: center;
    }
    .logo-container{
        float: none !important;
        text-align: center;
    }
    .logo-large {
        margin-top: 10px;
        height: 35px;
    }
    .logo-small {
        height: 20px;
    }

    .menuMain,
    .rc-menu-horizontal {
        text-align: center !important;
    }

    .show_menu{
        text-align: center;
    }
}

@media(max-width: 320px){
    .rc-menu-horizontal {
        font-size: 0.7em !important;
    }
}