.App-header {
    /* start shadow */

    /* end shadow */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    transition: height 0.7s;
    -webkit-transition: background-color 0.7s linear;
    -ms-transition: background-color 0.7s linear;
    transition: background-color 0.7s linear;
}

.noShadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0);
}

.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.menuMain {
    transition: margin 0.7s;
}

a {
    text-decoration: none;
}

.menuText {
    font-weight: bold;
}

.logo-large {
    margin-top: 5px;
    width: 150px;
    transition: width 0.7s, margin 0.7s;
}

.logo-small {
    margin-top: 15px;
    width: 100px;
    transition: width 0.7s, margin 0.7s;
}

@media(max-width: 500px){
    .App-header{
        text-align: center;
    }
    .logo-container{
        float: none !important;
        text-align: center;
    }
    .logo-large {
        margin-top: 10px;
        height: 35px;
    }
    .logo-small {
        height: 20px;
    }

    .menuMain,
    .rc-menu-horizontal {
        text-align: center !important;
    }

    .show_menu{
        text-align: center;
    }
}

@media(max-width: 320px){
    .rc-menu-horizontal {
        font-size: 0.7em !important;
    }
}