.footer {
    font-size: 10px;
    margin-top: 100px;
    background-color: #153131;
    padding: 80px 0px 40px 0px;
}

ul li {
    margin-bottom: 2px;
    padding: 0px;
    list-style: none;
}

.footerMenuItem {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    color: #fff;
}

.social {
    max-height: 25px;
    opacity: 0.6;
    margin: 10px;
    float: right;
    max-width: 25px;
}