.footer {
    font-size: 10px;
    margin-top: 100px;
    background-color: #024B2C;
    padding: 160px 0px 80px 0px;
}

ul li {
    margin-bottom: 2px;
    padding: 0px;
    list-style: none;
}

.social {
    max-height: 25px;
    opacity: 0.6;
    margin-bottom: 10px;
    display: block;
    float: right;
}

.footerMenuItem {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    color: #fff;
}

a {
    margin: 0px;
}